/* body */
	body {
		font-family:verdana,arial,helvetica,sans-serif;
		font-size:12px;
		margin:0;
		padding:0;
	}
	.hidden_div {
		display:none;	
	}
	img {
		border:none;	
	}

/* comment */
	.comments {
		width:600px;	
	}
	.comment_author {
		font-weight:bold;	
	}
	.comment_head_tr td {
		padding-right:2px;
	}
	.comment_inner {
		width:90%;
		margin-left:auto;
	}
	.comment_inner table {
		width:100%;
	}
	.comment_list_head_tr {
		font-weight:bold;
		font-size:1.2em;
	}
	.comment_list_head_tr td {
		padding-left:4px;
		padding-top:4px;
		width:0; /* IE hack */
	}
	.comment_date_td {
		text-align:right;	
	}
	.comment_outer {
		width:100%;	
	}
	.comment_outer table {
		width:100%;
	}
	.comment_reply_text {
		text-align:right;
	}
	.comment_table {
		border-collapse:collapse;
		background-color:#d1d1d1;
	}
	.comment_text a:link {
		text-decoration:underline;	
	}
	.comment_text_td {
		padding:10px;
		line-height:150%;
		width:0; /* IE hack */
	}
	.comment_text_outer_tr {
		background-color:#e1e1e1;	
	}
	.comment_text_inner_tr {
		background-color:#ffffff;
	}
	.comment_up_td {
		width:20px;
		text-align:left;
	}
	.comment_votes_outer {
		font-size:1.4em;
		font-weight:bold;
	}
	.comment_votes_outer a:hover {
		text-decoration:none;	
	}
	.comment_votes_td {
		text-align:center;
		width:25px;
	}
	.my_comment {
		border:3px dashed #dbfed4;
	}
	.reply_div {
		margin-top:10px;	
	}

/* form */
	input,select,button,textarea {
		font-family:Verdana;
		font-size:1em;
	}
	.form_table {
		border-collapse:collapse;
		border:1px dashed #efefef;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;
		background-color:#ffffff;
	}
	.form_table td {
		padding:10px;
		line-height:150%;
	}

/* help */
	img .help {
		margin-top:4px;
	}

/* main */
	.bottom_row {
		background-color:#d1d1d1;
		color:#000000;
		height:40px;
	}
	.bottom_row td {
		padding-left:15px;
		padding-right:15px;
	}
	.cat_row {
		text-transform:uppercase;
		background-color:#0787DD;
		font-size:0.9em;
	}
	.cat_row td {
		padding-left:2px;	
	}
	.content {
		margin-left:20px;	
	}
	.content a:link {
		text-decoration:underline;
	}
	.head_text {
		font-weight:bold;
		font-size:2em;
		color:#fff;
		float:left;
	}
	.head_text a:hover {
		text-decoration:none;
	}
	.main_table {
		margin:0 auto;
		width:95%;
		padding:0px;
		border:none;
		background-color:#efefef;
		vertical-align:top;
		border-collapse:collapse;
	}
	.page_title {
		font-size:2.1em;
		font-weight:bold;
	}
	.profile_score {
		font-size:1.4em;	
	}
	.rss_text {
		font-variant:small-caps;
		padding-left:2px;
        font-size:1.1em;
	}
	.super_text {
		vertical-align:super;
		font-size:0.5em;
		font-style:italic;
		margin-left:3px;
	}
	.top_row {
		background-color:#09F;
		color:#000;
		height:40px;
	}
	.top_row a:link {
		color:#fff;	
	}
	.cat_row a:link {
		color:#fff;
	}
	.top_row a:visited {
		color:#fff;	
	}
	.cat_row a:visited {
		color:#fff;	
	}
	.top_row td {
		padding-left:15px;
		padding-right:15px;
	}

/* links */
	a:link {
		color:#000000;
		text-decoration:none;
	}
	a:visited {
		text-decoration:none;
		color:#333;
	}
	a:hover {
		text-decoration:underline;
		color:#0099FF;
	}
	a:active {
		text-decoration:none;
		color:#000000;
	}

/* listing */
	.listing_category {
		font-variant:small-caps;
        font-size:1.1em;
		color:#0099FF;
		padding:5px;
		background-color:#F7F7F7;
		margin-left:4px;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;
	}
	.listing_count {
		font-size:0.9em
	}
	.listing_count_td {
		width:15px;
		text-align:center;
	}
	.listing_details {
		color:#666666;	
	}
	.listing_domain {
		color:#666666;
		font-variant:small-caps;
		font-size:1.1em;
	}
	.listing_left_spacer1_td {
		width:8px;	
	}
	.listing_left_spacer2_td {
		width:10px;	
	}
	.listing_top_tr {
		height:28px;	
	}
	.listing_spacer_tr {
		height:12px;	
	}
	.listing_table {
		width:100%;
		border:none;
		border-collapse:collapse;
		text-align:left;
		vertical-align:top;
		padding-left:10px;
	}
	.listing_title {
		font-size:1.5em;
	}
	.listing_up_td {
		width:20px;	
	}
	.listing_votes_outer {
		font-size:1.4em;
		font-weight:bold;
	}
	.listing_votes_outer a:hover {
		text-decoration:none;	
	}
	.listing_votes_td {
		text-align:center;
		width:30px;
	}

/* messages */
	div.error {
		color:#ff0000;
		font-weight:bold;
	}
	div.success {
		color:#0C0;
		font-weight:bold;;
	}
	div.warning {
		color:#0000FF;
		font-weight:bold;
	}
	label.error {
		color:#ff0000;
		display:block;
		float:none;
		width:100%;
	}

/* tooltip */
	#tooltip{
		position:absolute;
		border:2px solid #0099FF;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;
		background:#ffffff;
		padding:10px;
		display:none;
		width:25%;
		opacity:.95;
		font-size:1.2em;
	}

/* user controls */
	.uc_table {
		border-collapse:collapse;
		border:1px solid #a4fc94;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;
		background-color:#dbfed4;
	}
	.uc_table td {
		padding:10px;
		line-height:150%;
	}

/* view */
	.view_description {
		font-size:1.2em;
		width:75%;
		padding:10px;
		line-height:150%;
		border: 2px solid #09F;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;
		background-color:#F9F9F9;
	}
	.view_description a:link {
		text-decoration:underline;
	}

/* admin */
	.admin_link {
		background:#ffffd4;
		border:1px solid yellow;
		padding:2px;
	}
	.admin_link a:link {
		text-decoration: none;	
	}
	.admin_link a:hover {
		text-decoration: underline;
	}
	.admin_table {
		border-collapse:collapse;
		border:1px solid yellow;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;
		background-color:#ffffd4;
	}
	.admin_table td {
		padding:10px;
		line-height:150%;
	}
	.letter_admin {
		color:white;
		font-weight:bold;
	}
	.letter_mod {
		color:white;
		font-weight:bold;
	}
	.alist {
		border:none;
		padding:0;
		border-collapse:collapse;
		width:100%;
	}
	.alist td {
		padding:2px;
		border:1px solid black;
	}